---
const percents = [
  {
    number: "0%",
    title: "Un equipo de expertos multidisciplinarios",
    class: "",
  },
  {
    number: "+0",
    title: "horas dedicadas a soluciones digitales.",
    class: "",
  },
  {
    number: "+0",
    title: "Proyectos entregados con éxito.",
    class: "col-span-2",
  },
];

const benefits = [
  {
    number: "1",
    title: "Soluciones personalizadas",
    description:
      "Cada proyecto es único, por eso diseñamos soluciones a medida según tus necesidades. Nuestro equipo experto supera obstáculos técnicos con ingenio, rapidez y eficacia.",
  },
  {
    number: "2",
    title: "Flujo de trabajo rápido",
    description:
      "Nuestro enfoque ágil permite entregar resultados de calidad en tiempos óptimos. Nos adatamos rápidamente a los cambios y cumplimos con los cronogramas sin sacrificar excelencia",
  },
  {
    number: "3",
    title: "Pruebas exhaustivas",
    description:
      "Contamos con un riguroso proceso de pruebas para asegurar que cada producto sea funcional, estable y confiable. La calidad final es una prioridad en cada frase del desarrollo.",
  },
  {
    number: "4",
    title: "Seguridad de la información",
    description:
      "Contamos con protocolos de seguridad avanzados para proteger la información de tus clientes y garantizar el cumplimiento de normativs (como GDPR o ISO 27001).",
  },
  {
    number: "5",
    title: "Escalabilidad",
    description:
      "Nuestros servicios se adaptan al crecimiento de tu empresa ya que manejes 10 o 10,000 clientes, podemos escalar sin perder calidad ni tiempos de respuesta.",
  },
];
---

<section
  id="services"
  class="w-full h-full flex justify-center items-center flex-col text-deep-blue"
>
  <div>
    <h2 class="text-5xl font-black flex justify-center mb-4">
      ¿POR QUÉ ELEGIRNOS?
    </h2>
    <p class="leading-none text-2xl text-center w-[750px]">
      Somos una empresa joven fundada por profesionales apasionados de la
      tecnología, comprometidos con crear soluciones innovadoras y de alto
      impacto. Nuestra misión es transformar ideas en aplicaciones
      funcionales,eficientes y atractivas.
    </p>
  </div>
  <div class="flex flex-row justify-start items-start mt-16">
    <div
      class="grid grid-cols-2 grid-rows-2 gap-3 place-items-center justify-center"
    >
      {
        percents.map((percent, idx) => (
          <div
            class={`${percent.class} ${idx === 2 ? " flex flex-col items-center justify-center" : ""}`}
          >
            <div class="flex justify-center">
              <div class="h-36 w-36 rounded-full border-1 flex items-center justify-center">
                <p class="font-bold text-xl">{percent.number}</p>
              </div>
            </div>
            <span class="leading-none text-lg flex justify-center items-center text-center mt-4">
              {percent.title}
            </span>
          </div>
        ))
      }
    </div>
    <div
      class="w-[1px] h-[500px] bg-orange justify-start items-start flex mx-24"
    >
    </div>
    <div class="flex flex-col">
      <h2 class="text-5xl font-black flex justify-center mb-4">BENEFICIOS</h2>
      <div class="flex flex-col gap-12">
        {
          benefits.map((benefit) => (
            <div class="flex flex-row items-center gap-4" key={benefit.number}>
              <div class="flex px-3 py-6.5 items-center justify-center border-1 rounded-full">
                <h3 class="text-xl">{benefit.number}</h3>
              </div>
              <div>
                <span class="font-medium text-2xl">{benefit.title}</span>
                <p class="font-light text-xl leading-none w-[620px]">
                  {benefit.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
